<!DOCTYPE html>
<html lang="en">
<head>
    <charset="UTF-8">
    <title>StephenX</title>
</head>
<body style="background : white">
<h1 style="text-align:center;font-size:500%">Welcome to my website!</h1>
<h1 style="text-align:center;font-family:tahoma"> This is StephenX</h1>
<ul>Python</ul>
<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
<div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="light" data-vanity="pin-stephen-xie-198110184"><a class="LI-simple-link" href='https://www.linkedin.com/in/pin-stephen-xie-198110184?trk=profile-badge'>Pin(Stephen) Xie</a></div>
<ul>Java</ul>
</body>
</html>