{% extends 'base.html' %}

{% block content %}
<header class="w3-container w3-red w3-center" style="padding:128px 16px" >
    <h1 class="w3-margin w3-jumbo">Formatter</h1>
    <p class="w3-xlarge">Word Count: {{WordCount}}</p>
    <p class="w3-xlarge">Character Count: {{CharCount}}</p>
    
    <form action="/formatter/post" method = "post" style = "text-align:center;">
        {% csrf_token %}
        <div class="w3-xlarge">
          <label for="style_type">Text style</label>
          <select id="style_type" name="style_type">
              <option value="none">None</option>
              <option value="upper">UPPERCASE</option>
              <option value="lower">lowercase</option>
              <option value="title">Title Case</option>
              <option value="one-line">One Line</option>
              <option value="space">No Space</option>
              <option value="ljust">Left Justify</option>
          </select>
        </div>
        <textarea class="txtarea" value="" size="20" type="text" name="content" rows="20" style="width: 80%; max-width: 90%;">{{content}}</textarea>
        <br>
        <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top" type="submit">Submit</button>
    </form>
</header>
{% endblock %}