{% extends 'base.html' %}

{% block content %}
<header class="w3-container w3-red w3-center" style="padding:128px 16px" >
    <h1 class="w3-margin w3-jumbo">Cryptic</h1>
    <form action="/cryptic/post" method = "post" style = "text-align:center;">
        {% csrf_token %}
        <div>
            <select id="cipher_type" name="cipher_type" required>
                <option disabled selected value> -- select an option -- </option>
                <option value="caesar">Caesar Cipher</option>
                <option value="vigenere">Vigenere Cipher</option>
                <option value="affine">Affine Cipher</option>
            </select>
        </div>
        <script>
            var ids=["caesar","vigenere","affine"]
            var dropDown = document.getElementById("cipher_type");
            dropDown.onchange = function(){
                for(var x = 0; x < ids.length; x++){   
                    document.getElementById(ids[x]).style.display="none";
                }    
                document.getElementById(this.value).style.display = "block";
            }
        </script>
        <input type="radio" id="encrypt" name="method_type" value="encrypt">
        <label for="encrypt">Encrypt</label><br>
        <input type="radio" id="decrypt" name="method_type" value="decrypt">
        <label for="decrypt">Decrypt</label><br>
        <div id="caesar" class="hidden">
            <input type="radio" id="brute_force_decrypt" name="method_type" value="brute_force_decrypt">
            <label for="brute_force_decrypt">Brute Force Decrypt</label><br>
            <label>Number of shifts</label>
            <input type="text" name="caesar_key">
        </div>
        <div id="vigenere" class="hidden">
            <label>Keyword</label>
            <input type="text" name="vigenere_key">
        </div>
        <div id="affine" class="hidden">
            <label for="affine_a">a</label>
            <input id = "affine_a" type="text" size="10" name="affine_a">
            <br>
            <label for="affine_b">b</label>
            <input id = "affine_b" type="text" size="10" name="affine_b">
        </div>
        <textarea class="txtarea" value="" size="20" type="text" name="content" rows="20" style="width: 80%; max-width: 90%;">{{content}}</textarea>
        <br>
        <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top" type="submit">Submit</button>
    </form>
</header>
{% endblock %}