{% extends 'base.html' %}
{% block title %}Formatter - Stephen X{% endblock %}
{% block content %}
<header class="w3-container w3-center bg-cover" style="background-image: url(https://images.pexels.com/photos/2662116/pexels-photo-2662116.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=700&w=1176); padding:128px 16px">
    <h1 class="text-center text-7xl font-sans text-white font-bold">Formatter</h1>
    <p class="w3-xlarge text-white text-lg font-semibold">Word Count: {{WordCount}}</p>
    <p class="w3-xlarge text-white">Character Count: {{CharCount}}</p>

    <form action="/formatter/" method="post" style="text-align:center;">
        {% csrf_token %}
        <div class="container px-4 m-auto">
            <label for="style_type" class="w3-xlarge text-white inline">Text style</label>
            <select id="style_type"
                class="inline m-auto block w-52 text-gray-700 py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-primary-500 focus:border-primary-500"
                name="style_type">
                <option value="none">None</option>
                <option value="upper">UPPERCASE</option>
                <option value="lower">lowercase</option>
                <option value="title">Title Case</option>
                <option value="random">RAnDoM cASe</option>
                <option value="alternate">aLtErNaTe cAsE</option>
                <option value="extend">wordddd extendddd</option>
                <option value="reverse">reverse esrever</option>
                <option value="one-line">One Line</option>
                <option value="space">No Space</option>
                <option value="lstrip">Left Strip</option>
            </select>
        </div>
        <textarea class="w-full px-3 py-2 text-gray-700 border rounded-lg focus:outline-none" value="" size="20"
            type="text" name="content" rows="20" style="width: 80%; max-width: 90%;">{{content}}</textarea>
        <br>
        <button type="submit"
            class="max-w-xs py-2 px-3  bg-indigo-600 hover:bg-indigo-700 focus:ring-indigo-500 focus:ring-offset-indigo-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  rounded-lg ">Submit</button>
    </form>
</header>
{% endblock %}