{% extends 'base.html' %}
{% block title %}PasteX - Stephen X{% endblock %}
{% block content %}
<header class="w3-container w3-red w3-center" style="padding:128px 16px">
    <h1 class="w3-margin w3-jumbo">Stephen Xie</h1>
    <p class="w3-xlarge">PasteX</p>
</header>
<div class="container flex flex-col mx-auto max-w-full items-center justify-center">
{% if item_id %}
<div class="border shadow font-bold text-lg mt-6 mb-3 p-4">
URL: 
<a class="text-blue-500 underline" href="/pastex/?q={{item_id}}">{{ request.build_absolute_uri }}?q={{item_id}}</a>
</div>
{% endif %}
<form action = "/pastex/" class="w-3/5 m-3" method = "post" style = "text-align:center;">{% csrf_token %}
<textarea class="w-full py-2 px-2 text-gray-700 border rounded-lg focus:outline-none" value="" type="text" name="content" rows="20">{% if item.content %}{{item.content}}{% endif %}
</textarea>
<button type="submit" value="submit" class="inline max-x-xs py-2 px-3  bg-indigo-600 hover:bg-indigo-700 focus:ring-indigo-500 focus:ring-offset-indigo-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  rounded-lg ">Submit</button>
</form>
</div>

{% endblock %}