{% extends 'base.html' %}

{% block content %}
<header class="w3-container w3-red w3-center" style="padding:128px 16px">
    <h1 class="w3-margin w3-jumbo">Stephen Xie</h1>
    <p class="w3-xlarge">Todo List</p>
</header>

<ul style = "text-align:left;">
    {% for todo_item in all_items %}
        <li>{{todo_item.content}}
            <form action = "/deleteTodo/{{todo_item.id}}/"
                  style = "display:inline;"
                  method = "post">{% csrf_token %}
                <input type="submit" value="Delete"/>
            </form>
        </li>
    {% endfor %}
</ul>

<form action = "/addTodo/" method = "post" style = "text-align:center;">{% csrf_token %}
    <input type="text" name="content"/>
    <input type="submit" value="Add"/>
</form>
{% endblock %}